*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-inter: "Inter", sans-serif;

    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --fs-title: 700 1.5rem/2rem var(--ff-inter);
    --fs-label: 600 1rem/1.25rem var(--ff-inter);
    --fs-paragraph: 500 1rem/1.25rem var(--ff-inter);
    --fs-link: 500 .875rem/1rem var(--ff-inter);
}

body {
    font-family: var(--ff-inter);
    width: 100%;
    height: 100vh;
    background-color: var(--background-primary);
    
    display: flex;
    justify-content: center;
}

body > main {
    margin-block: 1.5625rem;

    & h1 {
        text-align: center;
        margin-bottom: 3.875rem;
    }
}

.content {
    width: 39.1875rem;

    & h2 {
        font: var(--fs-title);
        color: var(--content-primary);
        margin-bottom: 2.75rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.link-back {
    display: inline-block;
    font: var(--fs-link);
    color: var(--color-brand);
    margin-bottom: 1rem;
}

form {
    display: grid;
    grid-template-columns: 28.1875rem auto;
    gap: 1rem;
    margin-bottom: 2.5rem;

    & input {
        padding: .6875rem 1.125rem;
        border: 2px solid var(--border-primary);
        border-radius: .75rem;
        font: 400 1rem/140% var(--ff-inter);
        transition: border .5s;

        &:hover {
            border: 2px solid var(--border-hover);
        }
        &:focus {
            border-color: var(--color-brand);
            outline: none;
        }
    }

    & button {
        font: var(--fs-label);
        color: var(--background-secondary);
        background-color: var(--color-brand);
        padding: .625rem 1.5rem;
        border: none;
        border-radius: .75rem;
        transition: background-color .5s;

        &:hover {
            background-color: var(--color-brand-hover);
        }
    }
}